.image_heart{
    /*-fx-padding: 10;*/
    -fx-end-margin: 10;
    -fx-start-margin: 10;
}
.btn_pinjam{
    /*-fx-padding: 10;*/
    -fx-end-margin: 10;
    -fx-start-margin: 10;
    -fx-pref-height: 10;
}
#btnDipinjam{
    -fx-border-color: grey;
}
#btnRak{
    -fx-border-color: grey;
}
#btnWishlist{

}

Button{
    /*-fx-border-color: blue;*/
    -fx-background-radius: 15;
    -fx-background-color: white;
}
Button:hover{
    -fx-background-color: #4ffff0;
    color: white;
}

AnchorPane{
    -fx-background-color: #eafffd;
}
Pane{
    -fx-background-color: white;
}
#btnSearch{
    -fx-background-color: rgba(255, 255, 255, 0);
}
.GPList{
    -fx-background-color: rgba(168, 168, 168, 0.52);
}
